@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
.header{
  display: flex;
  justify-content:space-between;
}
a{
  text-decoration: none;
  color: rgb(58, 49, 49);
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89.5vh;
}
ul{
  display: flex;
  gap: 15px;
  margin: 15px;
  padding: 0;
  list-style: none;
}
img {
  width: 600px;
}
.footer{
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #ddd;
  padding: 10px;
  margin: 15px 0;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
