body{
    background-color: rgb(17,24,39);
    color: white;
}
#cooking{
   width: 50%; 
   height: auto;
   border-radius: 30px;
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 250%;
}
.container{
    background-color: rgb(31,41,55);
    border-radius: 50px;
    color: white;
    width: 70%;
    margin: auto auto;
    text-align: center;
    padding: 10px 10px;
    
}
a{
    color: wheat;
    text-decoration: none;
    font-size: 30px;
}
ul{
    list-style: none;
    margin-left: -20px;
}
li{
    padding-bottom: 7px;
    padding-top: 7px;
}
h3{
    font-size: 25px;
}
h5{
    font-size: 20px;
    width: 50%;
    color: wheat;
    margin-left: auto;
    margin-right: auto;
}
hr{
    width: 15%;
}
ol{
    list-style: none;
}
footer{
    text-align: center;
    margin-top: 50px;
}